* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.28);
}

form label {
  text-align: center;
  margin: 10px;
  padding: 0;
}

form select {
  margin: 10px;
  border-radius: 6px;
  padding: 4px;
  outline: 0;
  border: 1px solid gray;
}

form input {
  text-align: center;
  margin: 10px auto;
  width: 35%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid gray;
}

form input:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

form div {
  margin: 5px;
  padding: 5px 0;
  text-align: center;
  display: none;
}